header {
    text-align: center;
}

input {
    color: #000;
    background-color: white;
    border-color: darkgrey;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
}

input[placeholder] {
    padding-right: 75px;
}

/*the following code is a command i found whilst reading through the unit-05 slack community, i believe it was from @Brian Jensen (he/him) */

a {
    margin: auto;
}

.gallery {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1400px;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-auto-columns: 1fr;
}